/* 1 */
.home1__block {
    background: url("../img/home/home1_back.svg") no-repeat center / 100%;
    background-size: cover; 
    width: 100%;
    height: 800px;
    color: var(--white);
}
.home1__left {
    height: 800px;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
.home1__header {
    padding: 147px 0 0 0;
    text-transform: uppercase;
    font-size: 61px;
    line-height: 70px;
}
.home1__year {
    font-size: 147px;
    line-height: 200px;
    font-weight: 900;
    color: var(--yellow);
    padding: 0 0 0 35px;
}

.home1__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    padding: 54px 0 0 0;
    width: 504px;
}  

.home1__logo1 {
   width: 206px;
}
.home1__logo2 {
    padding: 9px 0 0 0;
    width: 220px;
 }
 
.home1__logo3 {
    grid-column: span 2 / span 2;
    padding: 17px 47px 0 0px;
    width: 187px;
    margin: 0 auto;
}

/* 2 */
.home2__block {
    display: flex;
    width: 100%; 
    height: 800px; 
}
.home2__left {
    width: 50%;
    background-color: var(--white);
    color: var(--black);
    max-width: 625px;
    margin: 0 0 0 auto;
}
.home2__right {
    width: 50%;
    background-color: var(--violet);
    color: var(--white);
}
.home2__logo1 {
    padding: 121px 0 0 0;
    width: 418px;

}
.home2__logo2 {
    padding: 107px 0 0 88px;
    width: 246px;
}

.home2__title1, .home2__title2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
}
.home2__title1 {
    padding: 37px 0 0 0;
}

.home2__title2 {
    padding: 37px 0 0 88px;
}

.home2__text1, .home2__text2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 561px;
}
.home2__text1 {
    padding: 51px 0 0 0;
}

.home2__text2 {
    padding: 51px 0 0 88px;
}